<script>
    // Small Screen Navbar
    document.addEventListener("DOMContentLoaded", function () {
        // Get the button and menu elements
        var mobileMenuToggle = document.getElementById("mobileMenuToggle");
        var mobileMenu = document.getElementById("mobileMenu");

        // Add click event listener to the button
        mobileMenuToggle.addEventListener("click", function () {
            // Toggle the 'hidden' class on the mobile menu
            mobileMenu.classList.toggle("hidden");
        });
    });
</script>
<header>
    <!-- Navigation Bar -->
    <nav class="light-nav dark:dark-nav">
        <!-- Navigation Container -->
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <!-- Logo and Site Title -->
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                {{ if .Site.Params.Logo }}
                <img src="{{ . }}" class="h-8" alt="{{ site.Title }}" />
                {{ end }}
                <span class="self-center text-2xl font-semibold whitespace-nowrap">{{ site.Title }}</span>
            </a>

            <!-- Navigation Links and Icons -->
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <!-- Search Button -->
                {{ if .Site.Params.enableSearch }}
                <button id="search-button" class="mx-3 px-3" aria-label="Search">
                    <i class="fas fa-search"></i>
                </button>
                {{ end }}

                <!-- Theme Switcher Button -->
                {{ if .Site.Params.themeSwitcher }}
                <button id="theme-toggle" aria-label="Toggle Theme">
                    <span id="moon"><i class="fas fa-moon"></i></span>
                    <span id="sun" class="hidden"><i class="fas fa-sun"></i></span>
                </button>
                {{ end }}


                <!-- Mobile Menu Toggle Button -->
                <button id="mobileMenuToggle" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            {{ partial "menu.html" . }}
        </div>
    </nav>
</header>

<div id="search-modal"
    class="hidden mt-4 flex flex-col w-full max-w-3xl min-h-0 mx-auto border rounded-md shadow-lg top-20 border-neutral-200 bg-neutral dark:border-neutral-700 dark:bg-neutral-800">
    <!-- Header with search input and close button -->
    <header class="relative z-10 flex items-center justify-between flex-none px-2">
        <form action="/search" method="GET" class="flex items-center flex-auto min-w-0">
            <!-- Search icon -->
            <button type="submit" class="flex items-center justify-center w-8 h-8 text-neutral-400">
                <i class="fas fa-search"></i>
            </button>
            <!-- Search input field -->
            <input type="search" id="search-query" name="q"
                class="flex flex-auto h-12 mx-1 bg-transparent appearance-none focus:outline-dotted focus:outline-2 focus:outline-transparent"
                placeholder="Search" tabindex="0" />
        </form>
        <!-- Close button -->
        <button id="close-search-button"
            class="flex items-center justify-center w-8 h-8 text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
            title="">
            <i class="fas fa-times"></i>
        </button>
    </header>
    <!-- Search results section -->
    <section class="flex-auto px-2 overflow-auto">
        <ul id="search-results">
            <!-- Results will be dynamically populated here -->
        </ul>
    </section>
</div>